.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header{
        background-color: #069A8E;
    }
    
    footer{
        background-color: #005555;
        color: white;
    }

    header, footer{
        height: 70px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    main{
        flex-grow: 1;
        background-color: #A1E3D8;
    }
}